$space-2: 48px;
$space-175: 42px;
$space-15: 36px;
$space-125: 30px;
$space-1: 24px;
$space-075: 18px;
$space-068: 16px;
$space-062: 15px;
$space-05: 12px;
$space-033: 9px;
$space-030: 8px;
$space-025: 6px;
$space-021: 5px;
$space-0125: 3px;